.container {
    display: flex;
    justify-content: space-between;

    padding-top: 0.5rem;
}

.listContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    > * {
        margin: 0 .5rem;
    }
}